.ITEM{
    font-size: 16px;
}
.ITEM a{
   color: black !important;
   font-weight: bold;
}
.ITEM:hover{
    font-size: 130%;
}
.ITEM a:hover{
    color: orange !important;

     
 }
.ITEM .Price{
    font-weight: bold;

}
.ITEM h5{
    
    color: orange;
    font-weight: bold;
    border-bottom: 2px dashed grey;
    
}
#NAV_LEFT {
    font-size: 20px !important;
}
@media only screen and (max-width: 768px) {
    .ITEM h5{
        font-size: 5vw;
    }
}