<div class="container-fluid bg-secondary ">
    <div class="container text-center py-5" id="footer">
      <div class="row c">
        <div class="col-md-3 text-center pl-0 pr-0">
          <div class="row justify-content-center">
            <img class="rounded-circle " src="/img/Logo.png " alt="3L" width="150px" height="150px">
          </div>
          <div class="row justify-content-center mt-2 mb-2 ">
            <div class="text-center p-2 " style="background-color:#f15e2c; border-radius: 5px;">
              <a href="Find_Us.htm" style="font-size: 20px;color:white"> TÌM CỬA HÀNG</a>
            </div>

          </div>
          <ul class="d-inline-flex row">
            <li>
              <a class="mr-4" href="#" style="font-size: 40px;background: transparent;color: white"><i
                  class="fa fa-facebook-f"></i></a>
            </li>
            <li>
              <a class="mr-4" href="#" style="font-size: 40px;background: transparent;color: white"><i
                  class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a class="" href="#" style="font-size: 40px;background: transparent;color: white"><i
                  class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 ">
          <ul>
            <li class="font-weight-bolder hldash row justify-content-center m-3" style="border-color: white">
              <a class="footer-head" href="#">SẢN PHẨM</a>
            </li>
            <li>
            <li class="m-3">
              <a href="#">Nam</a>
            </li>
            <li class="m-3">
              <a href="#">Nữ</a>
            </li>
            <li class="m-3">
              <a href="#">Thời trang & Phụ kiện</a>
            </li>
            <li class="m-3">
              <a href="#">Sale-Off</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li class="font-weight-bolder hldash row justify-content-center m-3" style="border-color: white">
              <a href="#" class="footer-head "> HỖ TRỢ </a>
            </li>
            <li class="m-3">
              <a href="#">Tra cứu đơn hàng</a>
            </li>
            <li class="m-3">
              <a href="#">Về TripleL Shop</a>
            <li class="m-3">

          </ul>
        </div>
        <div class="col-md-3 ">
          <ul>
            <li class="font-weight-bolder hldash row justify-content-center m-3" style="border-color: white">
              <a href="#" class="footer-head">LIÊN HỆ</a>
            </li>
            <li class="m-3">
              <a href="#">Email liên hệ</a>
            </li>
            <li class="m-3">
              <a href="#">TripleLshop@gmail.com</a>
            </li>
            <li class="m-3">
              <a href="#">Hotline</a>
            </li>
            <li class="m-3">
              <a href="#">0932 234 123</a>
            </li>

          </ul>
        </div>
      </div>


      <p class="text-center mt-5" style="font-size: 20px;color: white">
        Copyright
        <i class="fa fa-copyright" aria-hidden="true"></i>
        2020
      </p>

    </div>
  </div>