<link rel="stylesheet" href="/CSS/Travel.css">
<link rel="stylesheet" href="/CSS/Review.css">

<div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/Cart">Đơn hàng</a>
        </li>
        <li class="d-flex align-items-end font-weight-bold">
            ABCXYZ
        </li>
    </ul>
</div>


<div class="container mt-3 mb-4 pb-5">
    <div class="row container-fluid ">
        <h4 class="col-4 text-center py-2 text-light bg-success">TIẾP NHẬN ĐƠN HÀNG</h4>
        <h4 class="col-4 text-center py-2 text-light bg-secondary">VẬN CHUYỂN</h4>
        <h4 class="col-4 text-center py-2 text-light bg-secondary">ĐÃ GIAO</h4>
    </div>
    <div class=" justify-content-center mt">


        <div class="row">
            <div class="col-lg-7 mt-3">
                <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Thông tin giao dịch</h3>
                <div class="container mt-3 justify-content-center">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Địa chỉ</p>

                    </div>
                    <div class="row vl2 p-0 ">
                        <input class="col-6  p-0 m-0 text-center  " type="text" id="CName" value="Trần Phi Phụng"
                            disabled="true">
                        </input>

                        <input class="col-6  p-0 m-0 text-center " type="text" id="CPhone" value="091231231"
                            disabled="true">
                        </input>
                    </div>
                    <div class="row box-dash p-0" style="font-size: 16px;">
                        <input class="col    p-0 m-0 text-center" type="text" id="CAddress"
                            value="112/15 Thành Thái, Quận Tân Bình, TpHCM" disabled="true">
                        </input>
                    </div>


                </div>
                <div class="container mt-4">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Mã khuyến mãi</p>

                    </div>
                    <div class="row vl2 p-0 ">
                        <div class="col p-0 m-0 text-center font-weight-bolder ">
                            <input class="col p-0 m-0 text-center " type="text" id="CVoucher" value="#NoNameNoNumber"
                                disabled="true">
                            </input>
                        </div>
                    </div>
                    <div class="row box-dash p-1 text-center font-weight-bolder text-primary" style="font-size: 16px;">
                        <p class="col p-1 m-0" class="PriceVoucher">-100 000 VND </p>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Hình thức vận chuyển</p>
                    </div>
                    <label
                        class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
                        style="font-size: 16px;">
                        <input type="radio" name="delivery" value="Trả tiền khi lấy hàng" checked>Giao hàng tiêu
                        chuẩn
                        </input>
                    </label>
                </div>
                <div class="container mt-4 ">
                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">Hình thức thanh toán</p>
                    </div>
                    <label
                        class="row my-0 box-dash p-1 text-center font-weight-bolder text-primary justify-content-center"
                        style="font-size: 16px;">
                        <input type="radio" name="Pay" value="Trả tiền khi lấy hàng" checked>Thanh toán khi nhận
                        hàng
                        </input>
                    </label>
                </div>

            </div>

            <div class="col-lg-5 mt-3">
                <h3 class="p-2 font-weight-bolder" style="background-color: #f1f1f1;">Giá Tiền</h3>
                <div class="container mt-3 ">

                    <div class="row hl2dash vl2 bg-secondary justify-content-center">
                        <p class=" m-1 text-light font-weight-bold">THANH TOÁN</p>
                    </div>
                    <div class="row hldash vl2  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">TỔNG TIỀN</p>
                        <p class=" m-1 text-danger font-weight-bold" id="TotalCost">500 000 VND</p>
                    </div>
                    <div class="row vl2 p-0 hldash  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">VOUCHER</p>
                        <p class=" m-1  font-weight-bold text-primary" class="PriceVoucher">-100 000 VND</p>
                    </div>
                    <div class="row vl2 p-0 hldash  justify-content-between">
                        <p class=" m-1 text-dark font-weight-bold">THÀNH TIỀN</p>
                        <h4 class=" m-1  font-weight-bold text-primary " id="RemainCost">400 000 VND</h4>
                    </div>
                </div>
                <div class="container mt-3 justify-content-center">
                    <form class="row  justify-content-center">
                        
                            <button type="submit" class="btn col btn-warning bg-warning p-3" style="border-radius: 0px">
                                <h3 class="p-0 m-0 font-weight-bold">Hủy đơn hàng</h3>
                            </button>
                        
                    </form>
                </div>
                <div class="container mt-3 justify-content-center">
                    <div class="row  justify-content-center">

                        <a href="#cart-content" class="btn col btn-warning bg-warning p-3" style="border-radius: 0px">
                            <h3 class="p-0 m-0 font-weight-bold">Đánh giá đơn hàng</h3>
                        </a>
                    </div>
                </div>
                <div class="container mt-3 justify-content-center">
                    <form class="row  justify-content-center">

                            <button type="submit" class="btn col btn-warning bg-warning p-3" style="border-radius: 0px">
                                <h3 class="p-0 m-0 font-weight-bold">Giao Hàng</h3>
                            </button>
                      
                    </form>
                </div>

            </div>
        </div>







    </div>
    <h3 class="p-2 font-weight-bolder text-center mt-3" style="background-color: #f1f1f1;">Danh sách sản phẩm</h3>
    <div id="cart-content" class=" container mt-3 p-0" action="/Review">
        <table class="table mt-3 container">
            <thead>
                <th scope="col">Sẩn phẩm</th>
                
                <th scope="col">Chất lượng</th>
                <th scope="col">Bình Luận</th>



            </thead>
            <tbody>
                {{#each cart}}
                <tr>
                    <td scope="col">{{name}}, Hãng:{{brand}}, Size:{{size}}</td>
                   
                    <td scope="col">
                        <label class="ReviewStar">
                            1<i class="fa fa-star" aria-hidden="true"></i>
                            <input type="radio" name="star" value="1" class="" id="1star" onclick="Star()">
                            </input>
                        </label>
                        <label class="ReviewStar pl-1">
                            2<i class="fa fa-star" aria-hidden="true"></i>
                            <input type="radio" name="star" value="2" class="" id="2star" onclick="Star()">
                            </input>
                        </label>
                        <label class="ReviewStar pl-1">
                            3<i class="fa fa-star" aria-hidden="true"></i>
                            <input type="radio" name="star" value="3" class="" id="3star" onclick="Star()">
                            </input>
                        </label>
                        <label class="ReviewStar pl-1">
                            4<i class="fa fa-star" aria-hidden="true"></i>
                            <input type="radio" name="star" value="4" class="" id="4star" onclick="Star()">
                            </input>
                        </label>
                        <label class="ReviewStar pl-1">
                            5<i class="fa fa-star" aria-hidden="true"></i>
                            <input type="radio" name="star" value="5" class="" id="5star" onclick="Star()" checked>
                            </input>
                        </label>
                    </td>
                    <td scope="col">
                        <input type="text" name="coment">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script>
        var Star = function () {
            let StarCheck = ["1star", "2star", "3star", "4star", "5star"];
            for (let i = 0; i < StarCheck.length; i++) {

                if (document.getElementById(StarCheck[i]).getAttribute("checked") == true) {
                    for (let j = 0; j < i; j++) {
                        console.log(document.getElementById(StarCheck[j]).parentNode)
                        document.getElementById(StarCheck[j]).parentNode.classList.add("ReviewStar")
                        document.getElementById(StarCheck[j]).parentNode.classList.remove("ReviewStar-None")
                        console.log(document.getElementById(StarCheck[j]))

                    }
                    for (let j = i + 1; j < StarCheck.length; j++) {
                        document.getElementById(StarCheck[j]).parentNode.classList.add("ReviewStar-None")
                        document.getElementById(StarCheck[j]).parentNode.classList.remove("ReviewStar")
                    }
                }
            }
        }
    </script>


</div>