 <link rel="stylesheet" href="/CSS/Travel.css">
 <div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>
        <li class="d-flex align-items-end font-weight-bold">
            Tìm cửa hàng
    </ul>
     <iframe width="100%" height="1000" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8Ssm_BsvdTERNQGQ8pc4hE4&key=AIzaSyCLpu3_Q3aJSFK6kN-WVWGYJZ55sOj24Nk" allowfullscreen></iframe>
</div>
