<div class="container-fluid">
    <div id="POSTER" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#POSTER" data-slide-to="0" class="active"></li>
        <li data-target="#POSTER" data-slide-to="1"></li>
        <li data-target="#POSTER" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" id="slide">
        <div class="carousel-item active">
          <img class="d-block w-100 " src="img/carousel1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 " src="img/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 " src="img/carousel3.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#POSTER" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#POSTER" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <h1 class="container-fluid text-center bg-warning mt-5 mb-5 font-weight-bold p-2">NEWS</h1>
  <div class="container mt-5 ">
    <div class="row">

      <div id="Brand1" class="carousel slide col" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#Brand1" data-slide-to="0" class="active"></li>
          <li data-target="#Brand1" data-slide-to="1"></li>
          <li data-target="#Brand1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner " id="slide">
          <div class="carousel-item  active">
            <img class=" d-block w-100 " src="img/adidas.jpg" alt="First slide">
            <div class="text-center  LBorder">
              <a>
                <h1>ADIDAPHAS</h1>
              </a>
              <p class="m-0">Một sản phẩm đến từ phương Tây, toát lên vẻ huyền bí và ảo diệu mê hoặc người nhìn.</p>
            </div>

          </div>

          <div class="carousel-item">
            <img class="d-block w-100 " src="img/NiceSeeKee.jpg" alt="Second slide">
            <div class="text-center LBorder  ">
              <h1>NiceSeeKe</h1>
              <p class="m-0">Một sản phẩm đến từ phương Bắc, toát lên vẻ cứng cáp và mạnh mẽ áp bức kẻ địch.</p>
            </div>

          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="img/luonvuituoi.jpg" alt="Third slide">
            <div class="text-center  LBorder ">
              <h1>BullMaMa</h1>

              <p class="m-0">Một sản phẩm đến từ phương Nam, toát lên vẻ thông thái và tri thức tạo sự tin tưởng.</p>


            </div>


          </div>
        </div>
      </div>

  
      <div class="col">
        <img class="d-block w-100 " src="img/Sale off.jpg" alt="First slide">
        <div class="text-center LBorder ">
          <h1>SALE OFF</h1>
          <p class="m-0">Những sản phẩm đang nằm trong sự kiện giảm giá của cửa hàng với chất lượng đảm bảo nhất</p>
        </div>

      </div>

    </div>
  </div>
 
  <h1 class="container-fluid text-center bg-warning mt-5 mb-5 font-weight-bold p-2">DANH MỤC SẢN PHẨM </h1>
  <div class="containter text-center text-light ">

    <div class="card-columns d-none d-md-block font-weight-bold ">
      <div class="card ">
        <img class="card-img-bottom" src="img/Men.jpg" alt="Card image">
        <div class="card-img-overlay">

          <a class="card-title" href="">
            <h2>MEN</h2>
          </a>
          <br class="d-none d-lg-block"> <br class="d-none d-lg-block">
          <ul class="align-content-around">
            <li>
              <a href="ShowItem.html">QUẦN</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">ÁO</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">GIÀY</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Women.jpg" alt="Card image">
        <div class="card-img-overlay">

          <a class="card-title" href="">
            <h2>LADY</h2>
          </a>
          <br class="d-none d-lg-block"> <br class="d-none d-lg-block">
          <ul>
            <li>
              <a href="ShowItem.html">QUẦN</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">ÁO</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">GIÀY</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/Brand.jpg" alt="Card image">
        <div class="card-img-overlay  ">

          <a class="card-title" href="">
            <h2>BRAND</h2>
          </a>
          <br class="d-none d-lg-block"> <br class="d-none d-lg-block">
          <ul>
            <li>
              <a href="ShowItem.html">ADIDAPHAS</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">NiceSeeKe</a> <br><br>
            </li>
            <li>
              <a href="ShowItem.html">BullMaMa</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="InsteadCard" class=" d-block d-md-none ">
      <div class="m-3 card bg-dark box-dash" style="border-color:grey;">
        <div class="card-header bg-warning  mb-3 " data-toggle="collapse" href="#MENCARD">
          <a class="card-link text-dark font-weight-bold m-0 p-0 " style="cursor: pointer;">
            NAM
          </a>
        </div>

        <div id="MENCARD" class="collapse mb-3 " data-parent="#InsteadCard">
          <div class="card-body  text-dark hldash">
            <ul>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">
                  QUẦN
                </a>
              </li>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">ÁO</a>
              </li>
              <li class="font-weight-bolder p-3 m-0  align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">GIÀY</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-header bg-warning mb-3 " data-toggle="collapse" href="#WOMENCARD">
          <a class="card-link text-dark font-weight-bold m-0 p-0 " style="cursor: pointer;">
            NỮ
          </a>
        </div>
        <div id="WOMENCARD" class="collapse mb-3  " data-parent="#InsteadCard">
          <div class="card-body  text-dark hldash">
            <ul>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">
                  QUẦN
                </a>
              </li>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">ÁO</a>
              </li>
              <li class="font-weight-bolder p-3 m-0  align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">GIÀY</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-header bg-warning  " data-toggle="collapse" href="#BRAND">
          <a class="card-link text-dark font-weight-bold m-0 p-0 " style="cursor: pointer;">
            BRAND
          </a>
        </div>

        <div id="BRAND" class="collapse " data-parent="#InsteadCard">

          <div class="card-body  text-dark  ">
            <ul>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">
                  ADIDAPHAS
                </a>
              </li>
              <li class="font-weight-bolder p-3 m-0 hldash align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">NiceSeeKee</a>
              </li>
              <li class="font-weight-bolder p-3 m-0  align-content-between ">
                <a href="ShowItem.html" class="m-0 p-0  justify-content-center row">BullMaMa</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- BEST SELLER -->
  <h1 class="container-fluid text-center bg-warning mt-5 mb-5 font-weight-bold p-2">BEST SELLER</h1>

  <div id="BestSeller" class="carousel slide text-center mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product1.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product2.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product3.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light d-none d-md-block" style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product4.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product5.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product6.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light" style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product7.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5 ><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light d-none d-md-block" style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product8.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product2.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <a>
                  <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                  <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product4.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
          <div class="col-md-2 col-3 m-1 p-0  bg-light " style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product6.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>

          <div class="col-md-2 col-3 m-1 p-0  bg-light d-none d-md-block" style="border-radius: 10px;">
            <a href="Show1Product.html"><img src="img/product8.jpg" alt="" class="img-fluid card-img-top"></a>
            <div class="card-body ITEM text-center  ">
              <div class=" text-center m-0">
                <h5><a href="Show1Product.html">Nikas Street Fighter</a></h5>
                <p class="p-0 m-0">Low-top/Street</p>
              </div>
              <p class="Price m-0">100.000 VND</p>
              <a class="btn"><i class="fa fa-heart fa-2x"></i></a>
              <a class="btn"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#BestSeller" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#BestSeller" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!---UPDATE-->
  <h1 class="container-fluid text-center bg-warning mt-5 mb-5 font-weight-bold p-3"> UPDATE!! </h1>