<link rel="stylesheet" href="/CSS/Travel.css">

<div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/User/Login">Đăng nhập</a>
        </li>
        <li class="d-flex align-items-end font-weight-bold">
            Đăng kí
        </li>
    </ul>
</div>

<link rel="stylesheet" href="/CSS/style_login_register.css">
<div class="position-relative ">
  <img class="card-img-top " src="/img/login_bg.jpg" alt="Card image" style="height: 1000px;">
  <div class="container " id="contt" style="border: 1px solid black;border-radius: 20px;">
    <form action="/User/Login" method="post">
      <h1>ĐĂNG KÍ</h1>
      <div class="inputbox">
        <div class="icon ">
          <i class="fa fa-user"></i>
        </div>
        <input type="text" name="User" id="Username" required class="">
        <label>Tên đăng nhập</label>
      </div>

      <div class="inputbox">
        <div class="icon">
          <i class="fa fa-lock"></i>
        </div>

        <input type="password" name="P_WORD" id="Password" class="" required>
        <label>Mật khẩu</label>
        {{!-- <span onclick="Myfunction()">
          <i id="eye1" class="fa fa-eye-slash"></i>
          <i id="eye2" class="fa fa-eye"></i>

        </span> --}}

      </div>
      <div class="inputbox">
        <div class="icon ">
          <i class="fa fa-user"></i>
        </div>
        <input type="text" name="name" id="name" required class="">
        <label>Họ Tên</label>
      </div>
      <div class="inputbox">
        <div class="icon">
          <i class="fa fa-envelope"></i>
        </div>
        <input type="text" name="Email" class="" required>
        <label>Email</label>
      </div>
      <div class="inputbox">
        <div class="icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <input type="text" name="DOB" class="" onfocus="(this.type='date')" onblur="(this.type='text')" required>
        <label>Ngày sinh</label>
      </div>
      <div class="inputbox">
        <div class="icon">
          {{!-- <i class="fa fa-mobile"></i> --}}
          <i class="fa fa-phone" aria-hidden="true"></i>
        </div>
        <input type="text" name="Phone" class="" required>
        <label>Số điện thoại</label>
      </div>
      <p id="error" style="color: #C62828 ;margin: 0px;font-size:12px ;margin-bottom:10px">{{error_mess}}</p>

      <input type="submit" value="Đăng kí">
    </form>
  </div>
</div>